@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background: #212040;
  margin: 20px 80px;
  color: #f1f1f1;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

button, a {
  color: #f1f1f1;
}