.btnContainer {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.btnWrapper {
  outline: none;
  border: none;
  background: #546FE4;
  border-radius: 150px;
  padding: 10px 30px;
  cursor: pointer;
}

.icon {
  margin-left: 5px;
}